@use './base/fonts';
@use './base/root';
@use './base/global';
@use './base/support';
@use './base/button';
@use './base/wrapper';
@use './base/title';


// секции

@use'./sections/header';
@use'./sections/menu-navigation';
@use'./sections/header-contacts';

@use './sections/first-screen';
@use './sections/benefits';
@use './sections/about-us';
@use './sections/table-reservation';



