@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Tinos/Tinos-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Open-Sans/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Open-Sans/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Open-Sans/OpenSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open-Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Open-Sans/OpenSans-Italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Cookie/Cookie-Regular.woff2") format("woff2");
}
:root {
  --white: #ffffff;
  --black: #000000;
  --text: #656363;
  --accent: #FF7400;
  --second: #D67E34;
  --third: #BC9060;
  --font-family: "Open-Sans", sans-serif;
  --second-family: "Tinos", sans-serif;
  --third-family: "Cookie", sans-serif;
  --transition: all 0.4s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  font-family: var(--font-family);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

hover,
focus,
active {
  outline: none;
  border: none;
  text-decoration: none;
}

input {
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-reset a {
  text-decoration: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.button {
  border: none;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  line-height: normal;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--font-family);
  background-color: var(--accent);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  transition: var(--transition);
  background-color: var(--second);
}

.wrapper {
  max-width: 1480px;
  padding-inline: 20px;
  margin: 0 auto;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  color: var(--black);
}
.title span {
  color: var(--second);
}

.header {
  padding-top: 30px;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__card {
  display: flex;
  align-items: center;
}

.menu-navigation {
  display: flex;
  align-items: center;
}
.menu-navigation__list {
  display: flex;
}
.menu-navigation__item {
  padding: 12px 32px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.menu-navigation__item:hover {
  background-color: var(--second);
}
.menu-navigation__link {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: var(--white);
  text-transform: uppercase;
}
.menu-navigation__cart {
  width: 14px;
  height: 14px;
  display: flex;
  text-align: center;
  margin-left: 36px;
  cursor: pointer;
  position: relative;
}
.menu-navigation__cart::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 45px;
  border: 1px solid #fff;
  height: 60px;
  cursor: none;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  width: 160px;
}
.header-contacts__phone {
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
  padding-left: 26px;
  padding-bottom: 5px;
}
.header-contacts__phone::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../../image/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header-contacts__phone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.4s ease;
}
.header-contacts__phone:hover::after {
  width: 100%;
}
.header-contacts__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  font-family: var(--font-family);
}
.header-contacts__button {
  margin-left: 45px;
}

.first-screen {
  background-image: url(../../image/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.first-screen__card {
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  max-width: 560px;
}
.first-screen__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  color: var(--second);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-screen__title span {
  font-size: 80px;
}
.first-screen__description {
  margin: 0;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.6px;
  position: relative;
}
.first-screen__description::before {
  content: "";
  display: block;
  top: 6px;
  right: 120px;
  border: 1px solid var(--white);
  width: 61px;
  position: absolute;
  align-items: center;
}
.first-screen__description::after {
  content: "";
  display: block;
  top: 6px;
  left: 120px;
  border: 1px solid var(--white);
  width: 61px;
  position: absolute;
  align-items: center;
}
.first-screen__button {
  display: flex;
  justify-content: center;
}

.benefits__card {
  position: relative;
  bottom: 70px;
}
.benefits__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.benefits__title span {
  color: var(--third);
}
.benefits__image {
  display: flex;
  justify-content: center;
}
.benefits__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--text);
  margin: 0;
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}
.benefits__item {
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background: var(--white);
  padding: 45px 40px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.benefits__item:hover {
  transform: scale(1.02);
  box-shadow: 15px 15px 50px 25px rgba(10, 10, 10, 0.2);
}
.benefits__item:hover .benefits__text {
  position: relative;
}
.benefits__item:hover .benefits__text::after {
  content: " ✓ Бесплатная доставка!";
  color: var(--accent);
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */