@use './base/fonts';
@use './base/root';
@use './base/global';
@use './base/support';
@use './base/button';
@use './base/wrapper';

// секции

@use'./sections/header';
@use'./sections/menu-navigation';
@use'./sections/header-contacts';

@use './sections/first-screen';
@use './sections/benefits';


