.benefits {

    &__card {
        position: relative;
        bottom: 70px;
    }

    &__title {
        margin: 0;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        color: #2c2c2c;
        margin-bottom: 20px;

        span {
            color: var(--third);
        }
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        color: var(--text);
        margin: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        text-align: center;
    }

    &__item {
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
        background: var(--white);
        padding: 45px 40px;
        cursor: pointer;
        transition: transform 0.4s ease, box-shadow 0.3s ease;


    }

    &__item:hover {
        transform: scale(1.02);
        box-shadow: 15px 15px 50px 25px rgba(10, 10, 10, 0.20);
    }

    &__item:hover .benefits__text {
        position: relative;
    }

    &__item:hover .benefits__text::after {
        content: " ✓ Бесплатная доставка!";
        color: var(--accent);
        position: absolute;
        bottom: -35px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 24px; 
    }
}