.benefits {

    &__card {
        position: relative;
        bottom: 80px;
    }

    &__title {
        margin: 0;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        color: #2c2c2c;
        margin-bottom: 20px;

        span {
            color: var(--third);
        }
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        color: var(--text);
        margin: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        text-align: center;
    }

    &__item {
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
        background: var(--white);
        padding: 48px 40px 25px;
    }
}