.first-screen {
    background-image: url(../../image/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;

    &__card {
        padding-top: 400px;
        display: flex;
        flex-direction: column;
        max-width: 560px;
    }

    &__title {
        margin: 0;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 50px;
        color: var(--second);
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 80px;
        }
    }

    &__description {
        margin: 0;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 18px;
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 0.6px;
        position: relative;

        &::before {
            content: '';
            display: block;
            top: 6px;
            right: 120px;
            border: 1px solid var(--white);
            width: 61px;
            position: absolute;
            align-items: center;
        }

         &::after {
            content: '';
            display: block;
            top: 6px;
            left: 120px;
            border: 1px solid var(--white);
            width: 61px;
            position: absolute;
            align-items: center;
        }

    }

    &__button {
        display: flex;
        justify-content: center;
    }
}