.header {
    padding-top: 30px;
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card {
        display: flex;
        align-items: center;
    }
}