.header-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 160px;

    &__phone {
        font-weight: 700;
        font-size: 18px;
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 5px;
        position: relative;
        padding-left: 26px;
        padding-bottom: 5px;


        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            background-image: url(../../image/phone.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--white);
            transition: width 0.4s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }


&__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    font-family: var(--font-family);
}

&__button {
    margin-left: 45px;
}
}
