.menu-navigation {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }

    &__item {
        padding: 12px 32px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            background-color: var(--second);
        }
    }

    &__link {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.6px;
        color: var(--white);
        text-transform: uppercase;
    }

    &__cart {
        width: 14px;
        height: 14px;
        display: flex;
        text-align: center;
        margin-left: 36px;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 45px;
            border: 1px solid #fff;
            height: 60px;
            cursor: none;
        }
    }
}