.table-reservation {
    background-image: url('../../image/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 80px;
    padding-bottom: 100px;

    &__title {
        margin: 0;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 52px;
        color: var(--accent);
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        color: var(--white);
    }

    &__grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}