@font-face {
  font-display: swap;
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Tinos/Tinos-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Open-Sans/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Open-Sans/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/Open-Sans/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/Open-Sans/OpenSans-Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Cookie/Cookie-Regular.woff2') format('woff2');
}