:root {

    --white: #ffffff;
    --black: #000000;
    --text: #656363;
    --accent: #FF7400;
    --second: #D67E34;
    --third: #BC9060;

    --font-family: 'Open-Sans', sans-serif;
    --second-family: 'Tinos', sans-serif;
    --third-family: 'Cookie', sans-serif;

    --transition: all 0.4s;

}